html {
	background: ;
}

#slogan {
	display: none;
}

#sloganmob {
	
	font-size: 16px;
}

#hours {
	display: none;
}

.nav a {
	background: #e64412 url(../img/image_name.jpg) left center repeat;
}


#foodq {
	display: none;
}

.imptext {font-size: 24px;}

.bullet {
	font-size: 18px;
}

.subcat {
	font-size: 20px;
	text-decoration: underline;
	}

.item {font-size: 18px; }



h2.imptext {
	display: block;
	position: relative;
	font-family: 'Stoke',serif;
	font-weight:400;
	background: #e64412 url() left top repeat;
	
	color: white;
	text-align: center;
}

h2.imptext:before {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 36px;
	background: #000;
	//  url(left image) left top repeat
}

h2.imptext:after {
	content:"";
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 20px;
	height: 36px;
	background: #000;
	// url(right image) left top repeat
}



h2.imptext span {
	display: none;
}

.section {
	margin: 0 20px;
}




@media screen and (min-width:700px){
	body {
		
	}
	

	#header {
		position: relative;
		height: 150px;	
		background: transparent url('../img/bg.jpg') left bottom repeat-x;	
	}
	#header .nav {
		position: absolute;
		bottom: 0;
		right: 36px;
	}
	h2.imptext {
		background-color: transparent;
		color: black;
		text-align: left;
		font-size: 20px;
		font-weight: 100;
	} 
	h2.imptext span {
		display: inline;
	}
	#slogan {
		display: block;
		font-size: 16px;
		text-align: center;
		
	}
	#sloganmob {
		display: none;
	}
	#hours {
		display: block;
		width: 330px;
		background-color: #f8ecd5;
		float: left;
		margin-right: 50px;
		padding-right: 10px;
			
	}
	.day {
		font-size: 16px;
		text-decoration: underline;
	}
	.specialhr {
		color: #e64412;
	}
	.hrblk {
		text-align: right;
	}
	
	#foodq {
		display: block;
	}
	.category {
		color: #e64412;
		font-size: 24px;
	}
}
























